@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beetle Test</title>
    <link rel="stylesheet" href="~/Content/qunit.css" type="text/css" media="screen" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- load 3rd party libs -->
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/knockout-2.1.0.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/q.min.js"></script>
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!-- Application scripts -->
    <script src="~/Scripts/beetle/beetle.js"></script>
    <script src="~/Scripts/beetle/beetle.queryExtensions.js"></script>
    <script src="~/Scripts/beetle/beetle.lang-tr-TR.js"></script>
    <script src="~/Scripts/tests/testMetadata.js"></script>
    <script src="~/Scripts/tests/basicTests.js"></script>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="beetle-toolbar">
        <span>
            <input type="radio" name="metadataGroup" value="MM" data-bind="checked: metadataType" checked="true" />
            Use Metadata Manager
            <input type="radio" name="metadataGroup" value="MS" data-bind="checked: metadataType" />
            Use Metadata string
            <input type="radio" name="metadataGroup" value="SM" data-bind="checked: metadataType" />
            Use Server Metadata
            <input type="radio" name="metadataGroup" value="NM" data-bind="checked: metadataType" />
            Do not use Metadata
        </span>
        <span style="margin-left: 50px">
            <input type="radio" name="observableProviderGroup" value="KO" data-bind="checked: observableProviderType" checked="true" />
            Knockout
            <input type="radio" name="observableProviderGroup" value="PR" data-bind="checked: observableProviderType" />
            Properties (Angular)
        </span>
        <span style="margin-left: 50px">
            <input type="radio" name="serviceGroup" value="WA" data-bind="checked: serviceType" checked="true" />
            Web Api
            <input type="radio" name="serviceGroup" value="MV" data-bind="checked: serviceType" />
            Mvc Controller
        </span>
        <input type="button" class="btnRunTest" value="Run Tests" data-bind="click: reRun" />
    </div>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id="test-dev"></div>

    <script type="text/javascript">
        ko.applyBindings(basicTestViewModel);
    </script>

</body>
</html>
