<html>
<head>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="body">
        <div id="orderTest">
            <div id="metadata-toolbar">
                <input type="radio" value="Preserve" data-bind="checked: mergeStrategy" checked="true" />
                Preserve
                    <input type="radio" value="Overwrite" data-bind="checked: mergeStrategy" />
                Overwrite
                    <input type="radio" value="NoTracking" data-bind="checked: mergeStrategy" />
                NoTracking
                    <input type="radio" value="NoTrackingRaw" data-bind="checked: mergeStrategy" />
                NoTrackingRaw
            </div>
            <div id="autofix-toolbar">
                <input type="checkbox" value="autoFixScalar" data-bind="checked: autoFixScalar" checked="true" />
                Auto-Fix Scalar
                    <input type="checkbox" value="autoFixPlural" data-bind="checked: autoFixPlural" />
                Auto-Fix Plural
            </div>
            <div>
                <input type="number" value="count" data-bind="value: count" />
            </div>
            <div>
                <a href="#" data-bind="click: loadOrderDetails">Load Order Details</a>
            </div>
        </div>

        <div>
            <h1>Customers</h1>
            <a href="#" data-bind="click: add">Add Customer</a>
            <a href="#" data-bind="click: save">Save Changes</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>
                            <label>Customer Id</label>
                        </td>
                        <td>
                            <label>Company Name</label>
                        </td>
                        <td>
                            <label>Contact Name</label>
                        </td>
                        <td>
                            <label>Contact Title</label>
                        </td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: customers">
                    <tr>
                        <td>
                            <input type="text" data-bind="value: CustomerID" />
                        </td>
                        <td>
                            <input type="text" data-bind="value: CompanyName" />
                        </td>
                        <td>
                            <input type="text" data-bind="value: ContactName" />
                        </td>
                        <td>
                            <input type="text" data-bind="value: ContactTitle" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                Display<select data-bind="options: display, value: take" style="margin-left: 5px"></select>
                Pages<select data-bind="options: pages, value: currentPage" style="margin-left: 5px"></select>
            </div>
        </div>
    </div>

    <!--3rd party library scripts -->
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="/Scripts/knockout-2.1.0.js"></script>
    <script src="/Scripts/q.min.js"></script>
    <script src="/Scripts/toastr.js"></script>

    <!-- Application scripts -->
    <script src="~/Scripts/beetle.lang-tr-TR.js"></script>
    <script src="/Scripts/beetle.js"></script>
    <script src="~/Scripts/beetle.queryExtensions.js"></script>
    <script src="/Scripts/app/customerViewModel.js"></script>
</body>
</html>
