<!DOCTYPE html>
<html lang="en">

<head>
    <title>Beetle Test</title>
    <link rel="stylesheet" href="~/css/qunit.css" type="text/css" media="screen" />
    <script src="~/js/qunit/qunit.js"></script>
    <script src="~/js/beetle/beetle.js"></script>
    <script src="~/js/beetle/beetle.queryExtensions.js"></script>
    <script src="~/js/tests/basicTests.js"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id="test-dev"></div>
</body>

</html>
